image: node:latest

before_script:
  - apt-get update
  - apt-get install zip

stages:
  - build

build:
  stage: build
  script:
    - npm install
    - npx rollup -c
    - zip dice-so-nice.zip -r dist/* -x ".*"
  artifacts:
    name: dice-so-nice
    when: on_success
    expire_in: never
    paths:
      - dice-so-nice.zip
  when: on_success
  only:
    - tags