image: node:lts-alpine3.14

before_script:
  - apk update
  - apk add zip
  - apk add openjdk11
  - npm install google-closure-compiler

stages:
  - build

build:
  stage: build
  script:
    - cp -r module /tmp/module
    - /usr/bin/java -jar node_modules/google-closure-compiler-java/compiler.jar --js module/libs/three.module.js --js_output_file /tmp/module/libs/three.module.js
    - /usr/bin/java -jar node_modules/google-closure-compiler-java/compiler.jar --js module/libs/three-modules/three.proton.js --js_output_file /tmp/module/libs/three-modules/three.proton.js
    - zip dice-so-nice.zip -r /tmp/module -x ".*"
  artifacts:
    name: dice-so-nice
    when: on_success
    expire_in: never
    paths:
      - dice-so-nice.zip
  when: on_success
  only:
    - tags