image: node:20.13.1

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .npm/

before_script:
  - apt-get update
  - apt-get install zip
  - npm install -g npm@10.5.2 # ensure matching versions
  - npm ci

stages:
  - build

build:
  stage: build
  script:
    - npx rollup -c
    - cd dist
    - zip dice-so-nice.zip -r . -x ".*"
  artifacts:
    name: dice-so-nice
    when: on_success
    expire_in: never
    paths:
      - dist/dice-so-nice.zip
  when: on_success
  only:
    - tags